<h1>New Post</h1>
<form action="/posts" method="post">
  <p>Post Name: <input type="text" name="post[name]" id="name"></p>
  <p>Post Content: <input type="text" name="post[content]" id="content"></p>
  <input type="submit" id="submit">
</form>
